p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  padding: 0;
  margin: 0;
}
.banner {
  background: url("../../assets/image/team.jpg") no-repeat;
  min-height: 700px;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;
}
.banner-text-wrap {
  width: 50%;
  background-color: #59b0f66b;
  border-radius: 10px;
  padding: 20px;
}
.banner-heading {
  color: white;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.banner-text {
  color: white;
  font-weight: 300;
  font-size: 30px;
}
.blog {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.blogWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.blog-heading {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.blog-para {
  font-weight: 300;
  font-size: 25px;
  text-transform: capitalize;
  text-align: center;
}
.card-style {
  padding: 40px 20px 40px 20px;
  max-width: 200px;
}
.feature-cards-wrap {
  display: flex;
  margin: 50px;
  justify-content: center;
}
.vtex-card {
  border-radius: 10px;
  margin: 20px;
  &:hover {
    background-color: #59b0f6db;
    .feature-card-text {
      color: white;
      font-weight: 500;
    }
  }
}
.feature-card-text {
  font-weight: 300;
  font-size: 20px;
  margin-top: 20px;
}
.feature-img {
  width: 25px;
  height: 25px;
}
.phase-wrapper {
  display: flex;
  justify-content: center;
  padding: 0px 50px 50px 50px;
}
ul {
  margin-top: 45px;
}
ul li {
  font-size: 18px;
  line-height: 33px;
  margin-bottom: 20px;
  position: relative;
  list-style: none;
  font-weight: 400;
  color: #111;
  padding-left: 25px;
}
ul li:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  left: 0;
  top: 16px;
  transform: translateY(-50%);
  background: #1da1f2 no-repeat;
}
